/* global.css */

/* 라이트 모드 스타일 */
:root {
    --text-color: #393B63;
  }
  
  .light-mode .header .menu-item {
    color: var(--text-color);
  }
  
  /* 다크 모드 스타일 */
  .dark-mode {
    background-color: #1f1f1f;
    color: #ffffff;
    --text-color: #ffffff;
  }
  
  .dark-mode .header {
    background-color: #333333;
    color: #ffffff;
  }
  
  .dark-mode .header .menu-item {
    color: var(--text-color);
  }
  
  .dark-mode .crawlingQuiz-container {
    background-color: #2c2c2c;
  }
  
  .dark-mode .crawlingQuiz-item {
    background-color: #3c3c3c;
  }
  
  .dark-mode .collapse {
    background-color: #3c3c3c;
  }
  
  .dark-mode .option {
    color: #ffffff;
  }
  
  .dark-mode .btn-beige {
    background-color: #4c4c4c;
    color: #ffffff;
  }
  
  .dark-mode .btn-beige:hover {
    background-color: #6c6c6c;
  }

  /* 다크 모드 서브메뉴 스타일 */
  .dark-mode .submenu {
    background-color: #333333;
    color: #ffffff;
  }
  
  .dark-mode .submenu div:hover {
    background-color: #444444;
  }

  html, body {
    margin: 0;
    padding: 0;
    background-size: 100vh;
    background-color: #FFFBF8;
    min-height: 100vh;
    height: auto;
  }

/* global.css */
.dark-mode .dark-mode-toggle {
    background-color: #666666; /* 회색 배경색 */
    color: #ffffff; /* 흰색 텍스트 */
    border: 1px solid #999999; /* 회색 테두리 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /* 약간 강한 그림자 */
  }
  
  .light-mode .dark-mode-toggle {
    background-color: #666666;
    color: #333333;
    border: 1px solid #cccccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }